<h2><%= @incense_review.title %></h2>

<dl class="row">
  <dt class="col-sm-3">香りのカテゴリ</dt>
  <dd class="col-sm-9"><%= @incense_review.scent_category.humanize %></dd>

  <dt class="col-sm-3">煙の強さ</dt>
  <dd class="col-sm-9"><%= @incense_review.smoke_intensity %></dd>

  <dt class="col-sm-3">レビュー内容</dt>
  <dd class="col-sm-9"><%= simple_format(@incense_review.content) %></dd>
</dl>

<% if @incense_review.product_url.present? %>
  <p><strong>製品ページ:</strong> <%= link_to "こちら", @incense_review.product_url, target: "_blank", rel: "noopener" %></p>
<% end %>

<%# 画像表示: CLS対策としてアスペクト比を先に確保。中の画像は responsive_image でレスポンシブ配信 %>
<div class="ratio mb-3" style="--bs-aspect-ratio: 100%;">
  <%= responsive_image(
        @incense_review,
        alt: "#{@incense_review.title} の画像",
        attachment_name: :photo,                       # Active Storage 添付名
        fallback_url: @incense_review.product_image,   # 添付が無い場合のフォールバックURL
        widths: [640, 960, 1280, 1600],                # 詳細ページ向けの派生サイズ
        sizes: "(min-width: 992px) 960px, 100vw",      # PCでは最大960px、それ未満は画面幅
        class_name: "w-100 h-100 object-fit-contain rounded"
      ) %>
</div>

<% if current_user == @incense_review.user %>
  <div class="my-3">
    <%= link_to "編集", edit_incense_review_path(@incense_review), class: "btn btn-primary" %>
    <%= button_to "削除", incense_review_path(@incense_review), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
  </div>
<% end %>

<%= link_to "一覧に戻る", incense_reviews_path, class: "btn btn-light" %>

<hr>

<%= render 'comments/form' %>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <table class="table">
      <tbody id="table-comment">
        <% if @comments.present? %>
          <%= render @comments %>
        <% else %>
          <tr><td>コメントはまだありません。</td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
