<h2><%= t(".title", default: "アカウント情報の編集") %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>
      <%= t(".pending_reconfirmation",
            email: resource.unconfirmed_email,
            default: "Currently waiting confirmation for: %{email}") %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %>
    <i><%= t(".password_optional_hint", default: "変更しない場合は空欄のままにしてください") %></i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t(".min_password_length",
               count: @minimum_password_length,
               default: "%{count}文字以上") %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %>
    <i><%= t(".current_password_hint", default: "変更を確定するために現在のパスワードが必要です") %></i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t(".update", default: "更新する") %>
  </div>
<% end %>

<h3><%= t(".cancel_title", default: "アカウントの削除") %></h3>

<div>
  <%= t(".cancel_hint", default: "削除すると元に戻せません。") %>
  <%= button_to t(".cancel_my_account", default: "アカウントを削除する"),
                registration_path(resource_name),
                data: { confirm: t(".cancel_confirm", default: "本当に削除しますか？"),
                        turbo_confirm: t(".cancel_confirm", default: "本当に削除しますか？") },
                method: :delete %>
</div>

<%= link_to t(".back", default: "戻る"), :back %>
